<form [formGroup]="group">
  <h4>Filter Views</h4>
  <p>Region</p>
  <label><input type="radio" formControlName="region" value="northamerica" />North America</label>
  <label><input type="radio" formControlName="region" value="europe" />Europe</label>
  <label><input type="radio" formControlName="region" value="asia" />Asia</label>
  <label><input type="radio" formControlName="region" value="all" />All</label>
  <p>Date Range</p>
  <p>From:<br /><input type="date" formControlName="fromDate" /></p>
  <p>To:<br /><input type="date" formControlName="toDate" /></p>
  <p>Age Groups</p>
  <label><input type="checkbox" formControlName="under18" />Under 18</label>
  <label><input type="checkbox" formControlName="18to40" />18 to 40</label>
  <label><input type="checkbox" formControlName="40to60" />40 to 60</label>
  <label><input type="checkbox" formControlName="over60" />Over 60</label>
</form>
<br />
<pre>{{ group?.value | json }}</pre>
